.btn{
          display: block;
          width: auto;
          color: azure;  
          font-size: 1rem;
          font-weight: 100;
          line-height: 1; 
          text-transform: uppercase;
          background-color: black;
          padding: 1rem;
          margin: 0 auto;
          border: 0;
          outline: none;
          margin-bottom: 10px;
          border-radius: 5px;
     
     }